@if (CurrentUser != null)
{
<div class="row">
    <div class="form-group col-4">
        <label>Name</label>
        <input class="form-control" type="text" @bind="CurrentUser.Name" disabled />
    </div>
    <div class="form-group col-4">
        <label>Surname</label>
        <input class="form-control" type="text" @bind="CurrentUser.SurName" disabled />
    </div>
    <div class="form-group col-4">
        <label>Birth Date</label>
        <input class="form-control" type="date" @bind="CurrentUser.BirthDay" disabled />
    </div>
</div>  
<div class="row">
    <div class="form-group col-8">
        <label>Email</label>
        <input class="form-control" type="email" @bind="CurrentUser.Email" disabled />
    </div>
    @if (CurrentUser.InsuranceCardNumber != null)
    {
        <div class="form-group col-4">
            <label>Insurance Card Number</label>
            <input class="form-control" type="text" @bind="CurrentUser.InsuranceCardNumber" disabled />
        </div>
    }
</div>
}